<form class="login-form">
  <div class="form-content">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" placeholder="Email"/>
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" placeholder="Password"/>
  </div>
  <div>
    <button class="btn btn-primary" type="submit">login</button>
    <a class="btn btn-primary" href="/signup">Signup</a>
  </div>
  </div>
</form>



<script src="/javascript/login.js"></script>